body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #336699;
}

button {
    padding: 10px;
    font-size: 16px;
}


.header {
    color: red;
    font-size: 24px;
}
.paragraph {
    color: gray;
    font-style: italic;
}

/*ProductDP*/
.product-detail {
    text-align: center;
    margin: 20px;
}

.product-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.remove-from-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.remove-from-cart:hover {
    background-color: #c82333;
}